body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9eaed;
}

iconify-icon{
    color: white;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.download-btn{
    display: inline-flex;
    align-items: center;
    padding: 22px 40px 22px 40px;
    overflow: hidden;
    background: #00458e;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

.download-btn span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 44px;
    color: #FFFFFF;
    margin-right: 15px;
}

.check-icon{
    display: none;
    transform: translateX(-180%), translateY(200%);
}

.download-btn .cloud-icon, .download-btn span, .download-btn, .download-btn .check-icon{
    transition: all .5s ease-in-out;
}

svg{
    overflow: visible;
}

.download-btn:hover{
    background: #0160be;
}

.download-btn .cloud-icon{
    transform: scale(1.25);
    animation: pulseAnimation 1500ms infinite;
}

@keyframes pulseAnimation{
	0% {
    	box-shadow: 0 0 0 0 #dad60a;
    	border-radius: 100%;
    }100% {
    	box-shadow: 0 0 0 17px #fbb32f01;
	
    }
}

.finish{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 44px;
    color: #FFFFFF;
    position: absolute;
    display: none;
}

.finish.F{
    display: flex;
}
